<% include ./partials/header.ejs%>
<div class="main">
  <div class="container">
    <h2>User :
      <%= pengguna.name%>
    </h2>
    <h4>Battle Point:
      <%#= pengguna.battlepoint.toLocaleString() %>
    </h4>
    <h4>Win Rate:
      <%#= winRateUser(matches).winUserrate %>%</h4>
    <p>
      <b>Robot</b>
    </p>
    <div class="col-sm-4">
      <form action="/bot/add" method="POST">
        <div class="form-group">
          <label>Robot Name:</label>
          <input type="text" class="form-control" name="name">
        </div>
        <button type="submit" class="btn btn-default">Add Robot</button>
      </form>
    </div>

    <div class="col-sm-8">
      <table class="table">
        <thead>
          <tr>
            <th>Robot Name</th>
            <th>Total Match</th>
            <th>Winner Rate</th>
            <!-- <th>Action</th> -->
          </tr>
        </thead>
        <tbody>
          <% pengguna.Robots.forEach(function(robot){ %>
            <tr>
              <td><%= robot.name %>
              <td><%#= robotMatch[idx].RobotMatches.length %>
              <td><%= winRate(robot.id,robotMatches) %> %</td>
              <!-- <td>
                <button type="submit" class="btn btn-default">Edit</button>
                <button type="submit" class="btn btn-default">Delete</button>
              </td> -->
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <p>
      <b>Match</b>
    </p>
    <div class="col-sm-4">
      <form action="/userMatch/add" method="POST">
        <div class="form-group">
          <label>Match Name:</label>
          <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>Robot:</label>
            <select name="RobotId">
              <% pengguna.Robots.forEach(function(robot){ %>
                <option value="<%= robot.id %>"><%= robot.name %></option>
              <% }) %>
            </select>
        </div>
        <div class="form-group">
          <label>Bet Point:</label>
          <input type="text" class="form-control" name="betPoint">
        </div>
        <div class="form-group">
          <label>Location:</label>
          <input type="text" class="form-control" name="location">
        </div>
        <button type="submit" class="btn btn-default">Open Battle</button>
      </form>
    </div>


    <div class="col-sm-8">
      <table class="table">
        <thead>
          <tr>
            <th>Match Name</th>
            <th>Robot Name</th>
            <th>Status</th>
            <th>Bet Point</th>
            <th>Location</th>
            <th>Open Battle Date</th>
          </tr>
        </thead>
        <tbody>
          <% robotMatches.forEach(function(robotMatch){ %>
              <tr>
                <td><%= robotMatch.Match.name %></td>
                <td>
                  <%#= getRobotName(robotMatch.RobotId) %>
                </td>
                <td><%= robotMatch.Match.status %></td>
                <td><%= robotMatch.Match.betPoint.toLocaleString() %></td>
                <td><%= robotMatch.Match.location %></td>
                <td><%= robotMatch.Match.createdAt %></td>
              </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% include ./partials/header.ejs%>
